<div style="text-align: center; ">
  <h1>
    {{ getTitle() }}
  </h1>
  
  <input class="form-control" placeholder="Ejm: 1/4" [(ngModel)]="proportion" [ngModelOptions]="{standalone: true}" (ngModelChange)="setProportion(proportion)" >
  <span>
    <button [ladda]="getShowSpinner()" class="ladda-button btn btn-block btn-flat margin-top-10" data-color="blue" data-style="zoom-out" data-size="s" (click)="calculateProbability(getProportion())">
      <span class="ladda-label">Calcular</span>
      <span class="ladda-spinner"></span>
    </button>
  </span> 
  
  <h3> La posibilidad de ser millonario es: 
    <strong *ngIf="result" class="result-color">{{ getResult() }}</strong>
  </h3> 
</div>

